In [ ]:
# creating MYSQL connection

In [3]:
### Create MySQL Connection
import mysql.connector as sql

connection = sql.connect(
  host="localhost",
  user="root",
  password="MySQL123"
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001A588C6C2B0>

In [ ]:
#Creating Databases

In [4]:
cursor =connection.cursor()
cursor.execute("CREATE DATABASE student1")

In [5]:
cursor.execute('SHOW DATABASES')

In [6]:
for database in cursor:
    print(database)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sreekanth123',)
('sreekanth1234',)
('student1',)
('sys',)
('world',)

In [ ]:
 ## Creating Tables And Inserting Records

In [7]:
### Create MySQL Connection And Connect
import mysql.connector as sql

connection = sql.connect(
  host="localhost",
  user="root",
  password="MySQL123",
  database="student1"
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001A588C6FC10>

In [ ]:
## Create Table in MySQL using Python

In [8]:
cursor = connection.cursor()

cursor.execute("CREATE TABLE studentinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

In [ ]:
## Insert Records in Table

In [9]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
value = ("John", "Stats")
cursor.execute(query,value)
print("Row inserted",cursor.lastrowid)

Row inserted 1

In [10]:
### Insert multiple records in Table
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
values = [("Krish", "Stats"),
        ("Joe", "Maths"),
        ("Ankur","Data Science"),
        ("Paul","Data Science"),
        ("Vishal","Maths"),
        ("Krish","Data Science")]
cursor.executemany(query,values)
print("Row inserted",cursor.lastrowid)

Row inserted 2

In [ ]:
## Select all

In [27]:
cursor=connection.cursor()
query="Select * from studentinfo"
cursor.execute(query)

In [28]:
cursor.fetchall()

[(1, 'John', 'Stats'),
 (2, 'Krish', 'Stats'),
 (3, 'Joe', 'Maths'),
 (4, 'Ankur', 'Data Science'),
 (5, 'Paul', 'Data Science'),
 (6, 'Vishal', 'Maths'),
 (7, 'Krish', 'Data Science')]

In [29]:
cursor.fetchone()

In [30]:
lst=cursor.fetchall()

In [31]:
lst=cursor.fetchall()
for records in lst:
    print(records)

In [ ]:
## Selecting Particular Rows

In [33]:
cursor.execute("Select * from studentinfo where name='Krish'")

In [34]:
### Fetch All the Data
cursor.fetchall()

[(2, 'Krish', 'Stats'), (7, 'Krish', 'Data Science')]

In [ ]:
## selecting Particular columns

In [35]:
cursor.execute("Select subject from studentinfo")
#### Fetch All
cursor.fetchall()

[('Stats',),
 ('Stats',),
 ('Maths',),
 ('Data Science',),
 ('Data Science',),
 ('Maths',),
 ('Data Science',)]

In [36]:
## Select Distinct Columns
cursor.execute("SELECT DISTINCT subject from studentinfo")
#### Fetch All
cursor.fetchall()

[('Stats',), ('Maths',), ('Data Science',)]

In [37]:
cursor.execute("SELECT name, subject FROM studentinfo WHERE name = 'Krish' OR subject = 'Data Science'") 
#### Fetch All
cursor.fetchall()

[('Krish', 'Stats'),
 ('Ankur', 'Data Science'),
 ('Paul', 'Data Science'),
 ('Krish', 'Data Science')]

In [ ]:
### Drop Table

In [ ]:
cursor.execute("DROP TABLE studentinfo")